.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 253, 253);
    padding: 15px;
}

.nav .nav-links {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
/*
.nav .nav-links li{

}*/